* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: floralwhite!important;
  font-family: "Titillium Web", sans-serif;
}

#root{
  max-width: 85%;
  margin:auto;
}
brand > a{
  color: ivory!important
}
.nav-item > a{
  color: ivory!important
}
.navbar-collapse{
  flex-grow: 0
}

.c {
  border-bottom: ridge
}

_header {
  background: black!important;
}

